.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(104, 243, 243);
  min-height: 700px;
}
h1{
  color:red;
}
.app__input{
  padding: 6px 16px;
  font-size: 15px;
  margin-right: 20px;
  min-width: 200px;
  border-radius: 4px;

}
.app__submit{
  padding: 6px 16px;
  background-color: rgb(62, 190, 147);
  border-color: rgb(62, 190, 147);
  border-radius: 4px;
  
}
.app__healthLabels{
  padding: 6px 16px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: rgb(59, 109, 66);
  border-color: rgb(59, 109, 66);
  color: white;
}
.app__submit:hover{
  background-color: aquamarine;
}
.recipe__image{
  width: 200px;
  height: 200px;
  border-radius: 4px;
}
.recipe__name{
  align-items: center;
  margin: 12px 0px;
  max-width: 200px;
  
}
.app__recipes{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 230px 230px;
}